<div class="builder-container">
    <!-- Sidebar with draggable elements -->
    <div class="sidebar">
      <h3>Elements</h3>
      <div *ngFor="let element of elements" cdkDrag [cdkDragData]="element" class="draggable">
        {{ element.name }}
      </div>
    </div>
  
    <!-- Canvas area where elements are placed -->
    <div class="canvas" cdkDropList (cdkDropListDropped)="onDrop($event)">
      <h3>Design Canvas</h3>
      <div *ngFor="let item of droppedElements" class="canvas-item" (click)="selectElement(item)">
        <ng-container [ngSwitch]="item.type">
          <input *ngSwitchCase="'text'" [(ngModel)]="item.content" />
          <img *ngSwitchCase="'image'" [src]="item.content" />
          <button *ngSwitchCase="'button'">{{ item.content }}</button>
        </ng-container>
      </div>
    </div>
  
    <!-- Property editor -->
    <div class="property-editor" *ngIf="selectedElement">
      <h3>Edit Element</h3>
      <form (ngSubmit)="saveProperties()">
        <div>
          <label for="content">Content:</label>
          <input id="content" [(ngModel)]="selectedElement.content" name="content" required />
        </div>
        <button type="submit">Save</button>
      </form>
    </div>
  </div>
  